<ion-view title="Active Events" id="page18">
    <ion-content padding="true" class="has-header">
      <a ui-sref="stepUpDE.volunteering" class="item item-thumbnail-left item-icon-right"  id="reward-list-item11">
        <img src="/img/profilepic.png"/>
        <i class="icon ion-help-circled"></i>
        <h1>Carina Blair</h1>
        <h2>Total: 100 ubucks</h2>
      </a>
        <ion-list id="activeEvents-list12">
            <ion-item id="activeEvents-list-item42">Zip Code Wilimington</ion-item>
            <ion-item id="activeEvents-list-item43">Delaware HUman Society</ion-item>
            <ion-item id="activeEvents-list-item44">SPCA</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
