<ion-view title="Active Events" id="page18">
    <ion-content padding="true" class="has-header">
        <ion-list id="activeEvents-list12">
            <ion-item id="activeEvents-list-item42">Item 1</ion-item>
            <ion-item id="activeEvents-list-item43">Item 2</ion-item>
            <ion-item id="activeEvents-list-item44">Item 3</ion-item>
        </ion-list>
        <ion-list id="activeEvents-list13">
            <ion-item id="activeEvents-list-item45">Item 1</ion-item>
            <ion-item id="activeEvents-list-item46">Item 2</ion-item>
            <ion-item id="activeEvents-list-item47">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>