<ion-view title="Badges" id="page14">
    <ion-content padding="true" class="has-header">
        <ion-list id="badges-list5">
            <ion-item class="item-icon-left" id="badges-list-item10">
                <i class="icon ion-ribbon-a"></i>Badge</ion-item>
            <ion-item class="item-icon-left" id="badges-list-item13">
                <i class="icon ion-ribbon-a"></i>Badge</ion-item>
            <ion-item class="item-icon-left" id="badges-list-item23">
                <i class="icon ion-ribbon-a"></i>Badge</ion-item>
            <ion-item class="item-icon-left" id="badges-list-item15">
                <i class="icon ion-ribbon-a"></i>Badge</ion-item>
            <ion-item class="item-icon-left" id="badges-list-item22">
                <i class="icon ion-ribbon-a"></i>Badge</ion-item>
            <ion-item class="item-icon-left" id="badges-list-item14">
                <i class="icon ion-ribbon-a"></i>Badge</ion-item>
            <ion-item class="item-icon-left" id="badges-list-item12">
                <i class="icon ion-ribbon-a"></i>Badge</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
