<ion-view title="Login" hide-back-button="true" id="page9">
    <ion-content padding="true" class="has-header">
        <form id="login-form2" class="list">
            <button id="login-button5" class="button button-positive  button-block icon-left ion-social-facebook">Facebook Login</button>
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="login-input3">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="stepUpDE.home" id="login-button1" style="border-radius:50px 50px 50px 50px;" class="button button-stable  button-block">Log in</a>
            <a ui-sref="signUp" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
            <a ui-sref="stepUpDE.donations" id="login-button3" style="border-radius:50px 50px 50px 50px;" class="button button-royal  button-block">Donate Now!</a>
            <ion-toggle toggle-class="toggle-light" id="login-toggle1">Espanol?</ion-toggle>
        </form>
    </ion-content>
</ion-view>