<ion-view title="Organizations" id="page16">
    <ion-content padding="true" class="has-header">
        <form id="organizations-form8" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <button id="organizations-button14" class="button button-positive  icon ion-search">Search</button>
        <form id="organizations-form9" class="list">
            <label class="item item-select" id="organizations-select1">
                <span class="input-label">Filter</span>
                <select></select>
            </label>
            <label class="item item-select" id="organizations-select2">
                <span class="input-label">Sort</span>
                <select></select>
            </label>
        </form>
        <div id="organizations-button-bar1" class="button-bar"></div>
        <ion-list id="organizations-list9">
            <ion-item id="organizations-list-item31" ui-sref="stepUpDE.donations">Item 1</ion-item>
            <ion-item id="organizations-list-item32" ui-sref="stepUpDE.donations">Item 2</ion-item>
            <ion-item id="organizations-list-item33">Item 3</ion-item>
        </ion-list>
        <ion-list id="organizations-list10">
            <ion-item id="organizations-list-item34">Item 1</ion-item>
            <ion-item id="organizations-list-item35">Item 2</ion-item>
            <ion-item id="organizations-list-item36">Item 3</ion-item>
        </ion-list>
        <ion-list id="organizations-list11">
            <ion-item id="organizations-list-item37">Item 1</ion-item>
            <ion-item id="organizations-list-item38">Item 2</ion-item>
            <ion-item id="organizations-list-item39">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>