<ion-view title="Reward" id="page5">
    <ion-content padding="true" class="has-header">
        <ion-list id="reward-list2">
          <div class="totalrewards">
            <a ui-sref="stepUpDE.reward" class="item item-thumbnail-left item-icon-right"  id="reward-list-item11">
              <img src="/img/UnitedWay.png"/>
              <i class="icon ion-help-circled"></i>
              <h1>United Way</h1>
              <h2>Total: 100 ubucks</h2>
            </a>
            <a ui-sref="stepUpDE.badges" id="reward-button6" style="font-weight:600;font-size:15px;text-align:left;border-radius:120px 120px 120px 120px;" class="button button-energized button-block icon-left ion-trophy">Badges</a>

          </div>

        <a ui-sref="stepUpDE.rewardStore" id="reward-button4" style="font-weight:600;font-size:20px;border-radius:100px 100px 100px 100px;" class="button button-assertive  button-block icon-left ion-ios-cart">Reward Store</a>
        </ion-list>
        <ion-list id="reward-list3">
            <ion-item class="item-divider" id="reward-list-item-divider1">Recent</ion-item>
            <ion-item class="item-icon-left" id="reward-list-item16">
                <i class="icon ion-star"></i>Event</ion-item>
            <ion-item class="item-icon-left" id="reward-list-item19">
                <i class="icon ion-star"></i>Event</ion-item>
            <ion-item class="item-icon-left" id="reward-list-item21">
                <i class="icon ion-star"></i>Event</ion-item>
            <ion-item class="item-icon-left" id="reward-list-item20">
                <i class="icon ion-star"></i>Event</ion-item>
            <ion-item class="item-icon-left" id="reward-list-item18">
                <i class="icon ion-star"></i>Event</ion-item>
            <ion-item class="item-icon-left" id="reward-list-item17">
                <i class="icon ion-star"></i>Event</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
