<ion-view title="Sign Up" id="page10">
    <ion-content padding="true" class="has-header">
        <form id="signUp-form3" class="list">
            <ion-list id="signUp-list4">
                <label class="item item-input" id="signUp-input4">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signUp-input5">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signUp-input6">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signUp-input7">
                    <span class="input-label">Zipcode</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="settings" id="signUp-button7" class="button button-stable  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>