<ion-view title="Social Feed" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="socialFeed-form13" class="list">
            <ion-item class="item-avatar" id="socialFeed-list-item48">
                <h2>Item</h2>
            </ion-item>
            <label class="item item-input" id="socialFeed-textarea3">
                <span class="input-label">Text</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <div id="socialFeed-button-bar2" class="button-bar">
            <button id="socialFeed-button18" style="border-radius:50px 50px 50px 50px;" class="button button-positive">Send</button>
            <button id="socialFeed-button17" style="border-radius:50px 50px 50px 50px;" class="button button-positive  icon ion-images"></button>
            <button id="socialFeed-button19" style="border-radius:50px 50px 50px 50px;" class="button button-positive  icon ion-android-share"></button>
        </div>
        <div class="list card" id="socialFeed-card21">
            <ion-item class="item-avatar" id="socialFeed-list-item5">
                <h2>Item</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body" id="socialFeed-list-item-container1">
                <div id="socialFeed-markdown3" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="list card" id="socialFeed-card22">
            <ion-item class="item-avatar" id="socialFeed-list-item7">
                <h2>Item</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body" id="socialFeed-list-item-container2">
                <div id="socialFeed-markdown2" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="list card" id="socialFeed-card23">
            <ion-item class="item-avatar" id="socialFeed-list-item9">
                <h2>Item</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body" id="socialFeed-list-item-container3">
                <div id="socialFeed-markdown1" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>