<ion-view title="Thank You" hide-back-button="true" id="page17">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="thankYou-card24">
            <ion-item class="item-avatar" id="thankYou-list-item40">
                <h2>Organization Name</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body" id="thankYou-list-item-container4">
                <div id="thankYou-null" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
                <form id="thankYou-form11" class="list">
                    <label class="item item-input" id="thankYou-textarea2">
                        <span class="input-label">Thank you for your donation!</span><textarea placeholder=""></textarea>
                    </label>
                </form>
            </div>
        </div>
        <a ui-sref="stepUpDE.home" id="thankYou-button16" class="button button-positive  button-block icon-left ion-android-arrow-dropleft">Back to Home</a>
    </ion-content>
</ion-view>