<ion-view title="Volunteering" id="page3" ng-controller = "volunteeringCtrl">
    <ion-content padding="true" class="has-header">
        <form id="volunteering-form1" class="list">
            <div class="spacer" style="width: 300px; height 18px">  </div>
            <ion-list>
                <ion-item ng-repeat="organization in organizations">
                <h2>{{organization.nameOfOrg}}</h2>
                <ion-option-button class="button-assertive">
                      Attend
                </ion-option-button>
                </ion-item>
            </ion-list>


        </form>
    </ion-content>
</ion-view>
