<ion-view title="Volunteering" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="volunteering-form1" class="list">
            <div class="spacer" style="width: 300px; height: 18px;"></div>
            <ion-item class="item-thumbnail-left" id="volunteering-list-item1">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="volunteering-list-item2">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="volunteering-list-item3">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="volunteering-list-item4">
                <h2>Item</h2>
            </ion-item>
        </form>
    </ion-content>
</ion-view>